@using TechStoreMVC.Data.Enum;
@using TechStoreMVC.ViewModel;
@model CreateMobileViewModel

@{
    ViewData["Title"] = "Create ";
}


<div class="container col-10">

    <form method="post" enctype="multipart/form-data">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="border p-1 mt-1">
            <div class="row pb-1">
                <h3 class="text-secondary">Create Mobile</h3>
            </div>
            <div class="form-group">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control" placeholder="Enter Mobile Name..." />
                <span class="text-danger" asp-validation-for="Name"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description"></label>
                <textarea asp-for="Description" class="form-control" placeholder="Enter Mobile Description..."></textarea>
                <span class="text-danger" asp-validation-for="Description"></span>
            </div>
            <div class="form-group">
                <label asp-for="Brand"></label>
                <input asp-for="Brand" class="form-control" placeholder="Enter Mobile Name..." />
                <span class="text-danger" asp-validation-for="Brand"></span>
            </div>
            <div class="form-group">
                <label asp-for="Model"></label>
                <input asp-for="Model" class="form-control" />
                <span asp-validation-for="Model" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ScreenSize"></label>
                <input asp-for="ScreenSize" class="form-control" type="number" step="0.01" />
                <span asp-validation-for="ScreenSize" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="OperatingSystem"></label>
                <input asp-for="OperatingSystem" class="form-control" />
                <span asp-validation-for="OperatingSystem" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address.Country"></label>
                <input asp-for="Address.Country" class="form-control" />
                <span asp-validation-for="Address.Country"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address.StreetAddress"></label>
                <input asp-for="Address.StreetAddress" class="form-control" />
                <span asp-validation-for="Address.StreetAddress"></span>

            </div>
            <div class="form-group">
                <label asp-for="MobileCategory"></label>
                <select asp-for="MobileCategory" class="form-control" asp-items="Html.GetEnumSelectList<MobileCategory>()">
                    <option value="">--Select a Category--</option>
                </select>
                <span asp-validation-for="MobileCategory" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Image"></label>
                <input asp-for="Image" type="file" class="form-control" placeholder=" image">
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-primary mt-2">Submit</button>


        </div>





    </form>
</div>


@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}